<div id="<%= dom_id response %>">
  <p>
    <strong>Undergrad continent:</strong>
    <%= response.undergrad_continent %>
  </p>

  <p>
    <strong>Hb a 1 1:</strong>
    <%= response.hb_a_1_1 %>
  </p>

  <p>
    <strong>Hb a 2 1:</strong>
    <%= response.hb_a_2_1 %>
  </p>

  <p>
    <strong>Hb a 3 1:</strong>
    <%= response.hb_a_3_1 %>
  </p>

  <p>
    <strong>Dem 1:</strong>
    <%= response.dem_1 %>
  </p>

  <p>
    <strong>Vb 1 1:</strong>
    <%= response.vb_1_1 %>
  </p>

  <p>
    <strong>Vb 1 2:</strong>
    <%= response.vb_1_2 %>
  </p>

  <p>
    <strong>Vb 1 3:</strong>
    <%= response.vb_1_3 %>
  </p>

  <p>
    <strong>Vb 1 4:</strong>
    <%= response.vb_1_4 %>
  </p>

  <p>
    <strong>Vb 1 5:</strong>
    <%= response.vb_1_5 %>
  </p>

  <p>
    <strong>Dem 2:</strong>
    <%= response.dem_2 %>
  </p>

  <p>
    <strong>Sr 1:</strong>
    <%= response.sr_1 %>
  </p>

</div>
