<p style="color: green"><%= notice %></p>

<% # MA: Aggregate metric table: %>
<div>
  <table class="content-table">
    <thead>
      <tr>
        <td>Metric (n=<%= @responses.count %>)</td>
        <td>hb_a_1_1</td>
        <td>hb_a_2_1</td>
        <td>hb_a_3_1</td>
        <td>vb_1_1</td>
        <td>vb_1_2</td>
        <td>vb_1_3</td>
        <td>vb_1_4</td>
        <td>vb_1_5</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Median</td>
        <td><%= 2022 + @responses.median(:hb_a_1_1).round() %></td>
        <td><%= 2022 + @responses.median(:hb_a_2_1).round() %></td>
        <td><%= 2022 + @responses.median(:hb_a_3_1).round() %></td>
        <td><%= @responses.median(:vb_1_1).round(1) %></td>
        <td><%= @responses.median(:vb_1_2).round(1) %></td>
        <td><%= @responses.median(:vb_1_3).round(1) %></td>
        <td><%= @responses.median(:vb_1_4).round(1) %></td>
        <td><%= @responses.median(:vb_1_5).round(1) %></td>
      </tr>
      <tr>
        <td>Average</td>
        <td><%= 2022 + @responses.average(:hb_a_1_1).round() %></td>
        <td><%= 2022 + @responses.average(:hb_a_2_1).round() %></td>
        <td><%= 2022 + @responses.average(:hb_a_3_1).round() %></td>
        <td><%= @responses.average(:vb_1_1).round(1) %></td>
        <td><%= @responses.average(:vb_1_2).round(1) %></td>
        <td><%= @responses.average(:vb_1_3).round(1) %></td>
        <td><%= @responses.average(:vb_1_4).round(1) %></td>
        <td><%= @responses.average(:vb_1_5).round(1) %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to "New response", new_response_path %>

<% # MA: Filtering implementation attempt [https://activerecord-hackery.github.io/ransack/getting-started/simple-mode/] %>
<div>
  <%= search_form_for @q, url: :responses do |form| %>
    <%= form.label :undergrad_continent_cont %>
    <%= form.search_field :undergrad_continent_cont %>
    <%= form.submit %>
  <% end %>
</div>

<% # MA: Drop down filter HTML table data by column attempt: %>
<% #= collection_select :response, :id, Response.all, :id, :undergrad_continent, prompt: true %>

<% # MA: Display database records in HTML table: %>
<div id="responses">
  <% # MA: Sortable table columns [http://railscasts.com/episodes/228-sortable-table-columns] %>
  <table id="responses" class="content-table">
    <thead>
      <tr>
        <th>id</th>
        <th>undergrad_continent</th>
        <th>hb_a_1_1</th>
        <th>hb_a_2_1</th>
        <th>hb_a_3_1</th>
        <th>dem_1</th>
        <th>vb_1_1</th>
        <th>vb_1_2</th>
        <th>vb_1_3</th>
        <th>vb_1_4</th>
        <th>vb_1_5</th>
        <th>dem_2</th>
        <th>sr_1</th>
      </tr>
      <tr>
        <th><%= sortable "id", "Response ID" %></th>
        <th><%= sortable "undergrad_continent", "In which region did you complete your undergraduate study?" %></th>
        <th><%= sortable "hb_a_1_1", "For the purposes of this question, assume that human scientific activity continues without major negative disruption.
          \n\nHow many years until you expect a 10% probability of HLMI existing?" %></th>
        <th><%= sortable "hb_a_2_1", "For the purposes of this question, assume that human scientific activity continues without major negative disruption.
          \n\nHow many years until you expect a 50% probability of HLMI existing?" %></th>
        <th><%= sortable "hb_a_3_1", "For the purposes of this question, assume that human scientific activity continues without major negative disruption.
          \n\nHow many years until you expect a 90% probability of HLMI existing?" %></th>
        <th><%= sortable "dem_1", "How much thought have you given in the past to when HLMI (or something similar) will be developed?" %></th>
        <th><%= sortable "vb_1_1", "Assume for the purpose of this question that HLMI will at some point exist.
          \n\nHow positive or negative do you expect the overall impact of this to be on humanity, in the long run?
          \n\nPlease answer by saying how probable you find the following kinds of impact, with probabilities adding to 100%: Extremely good (e.g. rapid growth in human flourishing)" %></th>
        <th><%= sortable "vb_1_2", "Assume for the purpose of this question that HLMI will at some point exist.
          \n\nHow positive or negative do you expect the overall impact of this to be on humanity, in the long run?
          \n\nPlease answer by saying how probable you find the following kinds of impact, with probabilities adding to 100%: On balance good" %></th>
        <th><%= sortable "vb_1_3", "Assume for the purpose of this question that HLMI will at some point exist.
          \n\nHow positive or negative do you expect the overall impact of this to be on humanity, in the long run?
          \n\nPlease answer by saying how probable you find the following kinds of impact, with probabilities adding to 100%: More or less neutral" %></th>
        <th><%= sortable "vb_1_4", "Assume for the purpose of this question that HLMI will at some point exist.
          \n\nHow positive or negative do you expect the overall impact of this to be on humanity, in the long run?
          \n\nPlease answer by saying how probable you find the following kinds of impact, with probabilities adding to 100%: On balance bad" %></th>
        <th><%= sortable "vb_1_5", "Assume for the purpose of this question that HLMI will at some point exist.
          \n\nHow positive or negative do you expect the overall impact of this to be on humanity, in the long run?
          \n\nPlease answer by saying how probable you find the following kinds of impact, with probabilities adding to 100%: Extremely bad (e.g. human extinction)" %></th>
        <th><%= sortable "dem_2", "How much thought have you given in the past to social impacts of smarter-than-human machines?" %></th>
        <th><%= sortable "sr_1", "How much should society prioritize AI safety research, relative to how much it is currently prioritized?" %></th>
      </tr>
    </thead>
    <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= link_to(response.id, response) %></td>
        <td><%= response.undergrad_continent %></td>
        <td><%= response.hb_a_1_1 %></td>
        <td><%= response.hb_a_2_1 %></td>
        <td><%= response.hb_a_3_1 %></td>
        <td><%= response.dem_1 %></td>
        <td><%= response.vb_1_1 %></td>
        <td><%= response.vb_1_2 %></td>
        <td><%= response.vb_1_3 %></td>
        <td><%= response.vb_1_4 %></td>
        <td><%= response.vb_1_5 %></td>
        <td><%= response.dem_2 %></td>
        <td><%= response.sr_1 %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
